<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/Shop-Icon.png">

    <title>The Grocery Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        #products {
            transition: 0.5s ease;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(4, 1fr);
            row-gap: 20px;
            justify-items: center;
            padding: 0px 25px;
            /* overflow: scroll; */
            height: 90vh;
            padding: 50px;
        }

        #products img {
            padding: 20px;
            width: 150px;
            height: 200px;
        }

        #products img:hover {
            border: 1px solid grey;
            z-index: 100;
        }

        .buyBtnTemplate {
            display: flex;
            align-items: center;
            border: 1px solid black;
            border-radius: 20px;
        }
    </style>
</head>

<body>
    <nav class="flex items-center justify-center flex-wrap bg-[#18d8d9] px-3">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <img id="logo" class="w-[80px] p-[10px]" src="images/Shop-Icon.png" alt="">
            <span class="font-semibold text-xl tracking-tight">The Grocery shop</span>
        </div>
    </nav>
    <div id="products"></div>
    <script>
        let iHTML = document.getElementById('products')
        for (let i = 1; i <= 20; i++) {
            iHTML.innerHTML +=
                `<div>
        <img  src="uploads/${i}.jpg" class="w-[150px]" alt="">
        <div class="flex justify-between">
        <p class="font-semiboldbold">xyz</p>
        <p class="">$${Math.round(Math.random() * 100)}</p>
        </div>
        <button class="px-16 rounded-[25px] py-2 mt-1 border-[1px] border-[#18d8d9] text-[#18d8d9] hover:text-white hover:bg-[#18d8d9]">Buy</button>
        </div>`
        }

    </script>
</body>

</html>